.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
}

.logo{
    color: #D6000D;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

.logo span{
    color: #000000;
}

.nav-list{
    display: flex;
}

.nav-list a{
    text-decoration: none;
}

.nav-list li{
    font-size: 1.2rem;
    color: #000000;
    margin: 1.5rem 1.5rem;
}
